.logo {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    display: block;
    margin: 0.5em 0;
}

.searchInput {
    width: 100%;
    margin-right: 5px;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    border-radius: 8px;
    color: #000;
    background-color: white;
    border-color: #0D60B7;
    transition: all 1.0s;
}

.searchInputDark {
    width: 100%;
    margin-right: 5px;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    border-radius: 8px;
    background-color: white;
    color: #000;
    border-color: #0D60B7;
    transition: all 1.0s;
}

.searchInput:focus {
    border: none;
    outline: none;
}

.headerIcons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 5px;
    padding-left: 5px;
    cursor: pointer;
}